body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}
nav {
    background-color: #ff6600;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
h2 {
    text-align: center;
    color: #ff6600;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, select, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    background-color: #ff6600;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.service_box {
    text-decoration: none;
    background-color: #f5f5f5;
    padding: 50px;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 200px;
}

.service_box img {
    width: auto;
    height: 80%;
    border-radius: 10px;
    object-fit: contain;
    margin-bottom: 15px;
    transition: 0.3s;
}

.service_box span {
    display: block;
    font-weight: 500;
    margin-top: auto;
}

.service_box:hover img {
    transform: scale(1.1);
}

ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
}

ul li {
    list-style: none;
    margin-top: 70px;
    margin-bottom: 50px;
}

.service_box:hover {
    box-shadow: 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    background-color: #e0e0e0;
    transition: 0.3s;
}

.service_box:hover h2 {
    color: black;
}

.search-container {
    position: relative;
    margin: 20px auto;
    max-width: 600px;
}
.search-container input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.search-container input[type="text"]:focus {
    border-color: #ff6600;
    outline: none;
}
.search-container input[type="text"]::placeholder {
    color: #ccc;
}
.search-container input[type="text"]:focus::placeholder {
    color: #999;
}
.search-container button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.search-container button:hover {
    background-color: #e65c00;
}
.search-container button:focus {
    outline: none;
}
.search-container button:active {
    background-color: #cc5200;
}
.suggestions-box {
    position: absolute;
    top: 40px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 83%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
  }
  .suggestion-item {
    padding: 8px;
    cursor: pointer;
  }
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }

  #imageInput {
    display: none;
  }
  #previewImage {
    display: none;
    margin-top: 10px;
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
  }
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }