{% extends 'base.html' %}

{% block title %}User Signup{% endblock %}

{% block content %}
<h2>User Signup</h2>
<form method="POST" enctype="multipart/form-data">
    <label>Username:</label>
    <input type="text" name="username" required>
    
    <label>Password:</label>
    <input type="password" name="password" required>
    
    <label>Phone Number:</label>
    <input type="text" name="phone" required>
    
    <label>Profile Picture:</label>
    <input type="file" id="imageInput" accept="image/*" name="profile_pic" required>
    <img id ="previewImage" src="#" alt="Image Preview" style="display:none; width: 100px; height: 100px;"/>
    <button type="button" class="upload-btn" onclick="document.getElementById('imageInput').click();">upload pic</button>
    <script>
        document.getElementById("imageInput").addEventListener("change", function() {
            let file = this.files[0];
            if (file) {
                let reader = new FileReader();
                reader.onload = function(e) {
                    let img = document.getElementById("previewImage");
                    img.src = e.target.result;
                    img.style.display = "block";
                }
                reader.readAsDataURL(file);
            }
        });
    </script>
    <button type="submit">Signup</button>
</form>
{% if error %}
<div class="error">{{ error }}</div>
{% endif %}
{% endblock %}
